= form_tag('/children/checkin', :method => :get, :class => :class_select) do |f|
  - if defined? @selected_service then
    = select_tag :service_id, options_for_select(@services.map { |s| [ s.service_date.strftime("%A %I:%M %p - %m/%d/%y"), s.id ] }, @selected_service )
  - else
    = select_tag :service_id, options_for_select(@services.map { |s| [ s.service_date.strftime("%A %I:%M %p - %m/%d/%y"), s.id ] } )

  - if defined? @selected_class then
    = select_tag :class_id, options_for_select(@classrooms.map { |c| [ c.name, c.id ] }, @selected_class) 
  - else
    = select_tag :class_id, options_for_select(@classrooms.map { |c| [ c.name, c.id ] })
  = submit_tag :update_class, :value => 'Show Class' 

- if defined? @children
  %section.child_listing
    - if @children.count == 0
      %p No kids in this class
    - else
      %input{:placeholder => 'Search', :type => 'text'}
      %br
      - @children.each do |c|
        %article
          %span.field_heading= c
          %span.checkbox_area
            %input{:type => 'checkbox', :data => { :id => c.id, :name => c.to_s } } check in
      %br(style='clear: left;')
- else
  %p Pick a class to list the students and check them in

%section.checkin_form
  %p Checking in {replace_name}
  %p
    %label{:for => :pager} pager number
    %br
    %input{:name => :pager, :type => :text}
  %p
    %input{:type => :button, :value => :save} 
    %input{:type => :button, :value => 'cancel'}

