%h1 Listing children

%table.child_list_table
  %tr
    %th Name
    %th Birthday
    %th First Day
    %th Most Recent Day
    %th Classroom

  - @children.each do |child|
    %tr
      %td= link_to child.to_s, child
      %td= child.birthday
      %td= child.first_day
      %td= child.most_recent_day
      %td= child.classroom.name

%br

= link_to 'New Child', new_child_path
