%p#notice= notice

%p
  %b First name:
  = @child.first_name
%p
  %b Last name:
  = @child.last_name
%p
  %b Birthday:
  = @child.birthday
%p
  %b First day:
  = @child.first_day

= link_to 'Edit', edit_child_path(@child)
\|
= link_to 'Back', children_path
