= form_tag(root_path, :method => :get, :class => :class_select) do |f|
  - if defined? @selected_service
    = select_tag :service_id, options_for_select(@services.map { |s| [ s.service_date.strftime("%A %I:%M %p - %m/%d/%y"), s.id ] }, @selected_service )
  - else
    = select_tag :service_id, options_for_select(@services.map { |s| [ s.service_date.strftime("%A %I:%M %p - %m/%d/%y"), s.id ] })  

  - if defined? @selected_class then
    = select_tag :class_id, options_for_select(@classrooms.map { |c| [ c.name, c.id ] }, @selected_class) 
  - else
    = select_tag :class_id, options_for_select(@classrooms.map { |c| [ c.name, c.id ] })

  = submit_tag :update_class, :value => 'Show Class' 

- if defined? @children
  %section.child_listing
    - if @children.count == 0
      %p No kids in this class
    - else
      %p
        %input{:type => 'text', :id => 'child_search', :placeholder => 'Find a child'}
        %p#checkin_count 
          = "#{ @existing_attendance_children.count } children checked in so far"
      - @children.each do |c|
        - check_in_status = @existing_attendance_children.include?(c.id)
        %article{ :class => (check_in_status ? 'checked_in' : '') }
          %span.field_heading= c
          %input.undo_button{:type => :button, :value => 'undo', :data => { :id => c.id }}
          - if check_in_status
            %p 'Checked in'
          - else
            %input.checkin_button{:type => :button, :value => 'check in', :data => { :id => c.id, :classroom_id => c.classroom_id }}
      %br{:style => 'clear: left;'}
- else
  %p Pick a class to list the students and check them in
