= form_for @checkin do |f|
  -if @checkin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@checkin.errors.count, "error")} prohibited this checkin from being saved:"
      %ul
        - @checkin.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :checkin_time
    = f.datetime_select :checkin_time
  .field
    = f.label :checkout_time
    = f.datetime_select :checkout_time
  .field
    = f.label :pager
    = f.text_field :pager
  .field
    = f.label :volunteer
    = f.text_field :volunteer
  .field
    = f.label :child
    = f.text_field :child
  .actions
    = f.submit 'Save'
