%p#notice= notice

%p
  %b Checkin time:
  = @checkin.checkin_time
%p
  %b Checkout time:
  = @checkin.checkout_time
%p
  %b Pager:
  = @checkin.pager
%p
  %b Volunteer:
  = @checkin.volunteer
%p
  %b Child:
  = @checkin.child

= link_to 'Edit', edit_checkin_path(@checkin)
\|
= link_to 'Back', checkins_path
