!!!
%html
  %head
    %title CM Tracker
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lobster+Two'
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag 'jquery-1.6.2.min'
    = csrf_meta_tag
  %body
    %header
      %h1 CM Tracker
      %span.welcome= render 'application/welcome'
      %nav
        %ul
          %li
            = link_to('home', root_path)
          %li
            = link_to('children', children_path)
          %li 
            = link_to('reports', root_path)
    #main
      %p.notice= notice
      %p.alert= alert
      = yield
